@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*--------------------------------------------*\
  #CUSTOM PROPERTIES
\*--------------------------------------------*/

:root {
  /* COLORS */
  --gray-color: #616161;
  --text-color: #777777;
  --first-color: #003aae;
  --first-color-alt: #3756f7;
  --container-color: rgba(255, 255, 255, 0.8);
  --light-gray-1: hsl(0, 0%, 80%);
  --dark-blue: #191a1f;
  --blue: rgba(55, 86, 247, 0.7);
  --dark: #101010;
  --jaguar: #292932;
  --carbon: #333333;
  --eclipse: #30313c;
  --white: #ffffff;

  /* FONT FAMILY */
  --font-nunito: 'Nunito Sans', sans-serif;
  --font-future: 'Futura PT', sans-serif;

  /* FONT WEIGHT */
  --fw-700: 700;
  --fw-500: 500;
  --fw-300: 300;

  /* SPACING */
  --section-padding: 3.125rem;
}

/*--------------------------------------------*\
  #RESET
\*--------------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
span,
img,
button,
input,
i {
  display: block;
}

input,
button {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}
button,
i {
  cursor: pointer;
}
input {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: var(--white);
  color: var(--text-color);
  font-family: var(--font-nunito);
  font-size: 1.6rem;
  line-height: 1.2;
  overflow-x: hidden;
}

/*--------------------------------------------*\
  #REUSED STYLES
\*--------------------------------------------*/
.container {
  padding-inline: 1rem;
}

.section {
  padding-block: var(--section-padding);
}

.grid {
  display: grid;
  gap: 1.5625rem;
}
.w-100 {
  width: 100%;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray-1);
  overflow: hidden;
}

.has-before,
.has-after {
  position: relative;
}
.has-before::before,
.has-after::after {
  content: '';
  position: absolute;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-future);
}

p {
  line-height: 1.8em;
  color: var(--text-color);
}

.badge {
  display: inline-block;
  padding: 5px 14px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--fw-700);
}

.badge.primary {
  background-color: var(--first-color-alt);
  color: var(--white);
  font-size: 14px;
  font-weight: var(--fw-500);
  text-transform: uppercase;
}
.badge.secondary {
  background-color: var(--first-color);
  color: var(--container-color);
}

.section-title {
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  margin: 0;
  margin-top: 0;
  color: #444;
  position: relative;
  padding-bottom: 1.25rem;
  text-transform: capitalize;
  line-height: 1em;
}

.section-title::before {
  left: 0;
  bottom: 0;
  width: 100px;
  height: 5px;
  border-radius: 6px;
  background-color: var(--first-color-alt);
}
.section-title::after {
  left: 110px;
  width: 30px;
  height: 5px;
  border-radius: 6px;
  background-color: var(--first-color);
  bottom: 0;
}
.section-subtitle {
  font-family: var(--font-future);
  text-transform: capitalize;
  font-size: 1.375rem;
  line-height: 1em;
  color: #232f4b;
  padding-bottom: 1.25rem;
  margin-top: 0;
  margin: 0;
  font-weight: var(--fw-500);
}

.section-subtitle::before {
  bottom: 0;
  width: 55px;
  height: 4px;
  background-color: var(--first-color-alt);
  border-radius: 6px;
}

.section-subtitle::after {
  max-width: max-content;
  width: 80%;
  left: 65px;
  bottom: 0;
  border-radius: 10px;
  background-color: #f2f2f2;
  height: 4px;
}

/*--------------------------------------------*\
  #HEADER
\*--------------------------------------------*/
.header-top {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 12px 8px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.header-top_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-top_btn {
  padding: 8px;
  color: var(--white);
  background-color: #616161;
  font-size: 14px;
}

.header-top_text {
  color: #444;
  font-size: 14px;
}

.header-top_social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 15px;
  gap: 5px;
}

.header-top_social li {
  font-size: 18px;
  font-weight: var(--fw-500);
  color: #444;
}
.header-navbar {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu_toggle {
  background-color: var(--first-color-alt);
  border-radius: 5px;
  padding: 5px 10px;
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.nav-menu_toggle .line {
  width: 20px;
  height: 2px;
  background-color: var(--white);
}
.nav-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  background-color: var(--eclipse);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  padding: 10px 30px;
  transition: all 0.5s;
}

.show-menu {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.nav-menu_close {
  padding: 30px 0;
  display: block;
  margin-inline-start: auto;
}

.nav-menu_close i {
  width: 40px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 25px;
}
.nav_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.nav_link {
  font-size: 15px;
  color: var(--white);
  font-weight: 600;
}

.nav_link.active {
  color: #91a3ff;
}

.header_actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.search_bar {
  font-size: 2rem;
  color: #232f4b;
}
.right_header-toggle span {
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #444;
}

.header-right {
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  padding: 20px;
  width: 320px;
  height: 100vh;
  background-color: var(--jaguar);
  z-index: 100;
}

.show-right_menu {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.header-right_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px;
  margin-block-end: 35px;
}

.header-right_close i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #333;
  font-size: 18px;
  color: var(--white);
}

.header-right_title {
  font-family: var(--font-future);
  color: var(--white);
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 26px;
}

.post-list {
  row-gap: 3.5rem;
  margin-block-end: 35px;
}

.post_box {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: flex-start;
  gap: 15px;
}

.post_box .img-banner {
  width: 120px;
  border-radius: 6px;
}

.post_box .date {
  font-size: 13px;
  margin-block-end: 5px;
  color: var(--white);
}

.post_title {
  font-family: var(--font-future);
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.contact_icon {
  font-size: 25px;
  color: var(--white);
}

.contact_address {
  font-size: 16px;
  color: var(--white);
  line-height: 1.5;
}

/*--------------------------------------------*\
  #GALLERY
\*--------------------------------------------*/

/*--------------------------------------------*\
  #BREAKING NEWS
\*--------------------------------------------*/

/*--------------------------------------------*\
  #HIGHLIGHT
\*--------------------------------------------*/
